.column {
  white-space: pre-line;
  height: 300px;
  .slide {
    font-size: 10;
    font-family: 'RobotoLight';
    text-align: center;
    font-size: 14px;
    line-height:1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    box-sizing: border-box;
  }

  .selected {
    font-weight: 700;
  }
}